.blue {
  color: blue;
}

.my-alert {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert-red {
  @extend .my-alert;
  background: red;
}

.my-alert p {
  margin-bottom: 0;
}

@mixin 함수() {
  background: #1a90ff;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-new-alert {
  @include 함수();
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
