<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomeWork</title>
	<style>
		* {
			padding: 0;
			margin: 0;
		}

		.left {
			width: 60%;
			float: left;
			margin: 10px;
			padding: 10px;
		}

		.right {
			width: 20%;
			float: left;
		}

		.small-img {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			border-radius: 50%;
		}

		h3 {
			clear: both;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<div class="left">
		<div class="top-tap">
			<img class="small-img" src="http://placekitten.com/50/50" alt="">
			<h4>아우리</h4>
			<p>1시간 전</p>
			<h3>4k Cute Cat is the Best!</h3>
		</div>
		<div class="bottom-tap">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti id consequuntur magni
			veniam voluptates quia nam? Rem quos saepe libero unde vel totam, nemo eos eligendi dolore! Deserunt, magnam
			vel.</div>
	</div>
	<div class="right"><img class="big-img" src="http://placekitten.com/200/200" alt=""></div>
</body>

</html>
