.card-box {
  width: 70%;
}

.card {
  margin-right: 1rem;
}

.shop-box {
  width: 30%;
}

.show-item {
  background: #eee;
}
.show-item p {
  padding: 30px;
}

.card-item {
  z-index: 2;
}

.shop-box {
  z-index: 1;
}

.canvas-box {
  width: 60%;
  display: none;
  position: fixed;
  background: #eee;
  top: 30%;
  left: 20%;
}

.canvas-show {
  display: block;
  z-index: 3;
}
